@{
    ViewBag.Title = "Index";
}



<div>
    <h3>Film Pratique</h3>
</div>

<hr>

<div>
    Bienvenue sur notre site, ici vous pouvez regarder vos films
</div>

<div class="stats">
    <div class="row">
        <div class="col-sm">
            <span>@ViewBag.NbFilms Films!</span>
        </div>
        <div class="col-sm">
            <span>@ViewBag.NbUsers Utilisateurs!</span>
        </div>
    </div>
</div>
